<div>
    <h1>Lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>titulo</th>
                <th>descripción</th>
                <th>Precio</th>
                <th>stock</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <th>{{this.title}}</th>
                <th>{{this.description}}</th>
                <th>{{this.price}}</th>
                <th>{{this.stock}}</th>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>